input, select, textarea {
	line-height: 2.5em;
    width: 100%;
	font-size: 1.5em;
	margin: 5px 0 5px 0;
	background-color: #333;
	/* border: solid #aaa 3px; */
    text-indent: 7px;
	color: white;
}
