input, textarea {
    width: 95%;
	font-size: 1em;
	line-height: 1em;
	padding: 5px 10px 5px 10px;

    margin: 5px 0 5px 0;
	border: solid #aaa 2px;
	color: white;
	background-color: #333;
}
/* padding doesn't work with select on android,
 * so hacking it with text-indent and line-height
 */
select {
    width: 100%; /* fallback if calc doesn't work */
    width: calc(95% + 20px);
    font-size: 1em;
    line-height: 1.5em;
    text-indent: 10px;

    margin: 5px 0 5px 0;
	border: solid #aaa 2px;
	color: white;
	background-color: #333;
}
