/* assuming that mobile viewport = 320px */
#navbar {
	width: 100%;
	height: 50px;
	text-align: center;
	padding: 10px 0 10px 0;
	background-color: #111;
    overflow: hidden;
}
#navbar a {
	display: inline-block;
	width: 50px;
	height: 45px;
	line-height: 50px;
	background-color: #ddd;
	margin: 0 3px 0 3px;
	vertical-align: top;
	text-align: center;
	padding-top: 5px;
}
#navbar a img {
	width: 80%;
	vertical-align: middle;
}
