/* assuming that mobile viewport = 320px */
#navbar,
.fixed-navbar-placeholder {
   height: 57px;
}
#navbar {
	width: 100%;
	text-align: center;
	padding: 5px 0 5px 0;
	background-color: #fff;
	border-bottom: 2px solid #ff7300;
    overflow: hidden;
}
#navbar.fixed {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;

    /* make it above the sunglasses images */
    z-index: 10;
}
#navbar a {
	display: inline-block;
	width: 50px;
	height: 45px;
	background-color: #fff;
	margin: 0;
	vertical-align: top;
	text-align: center;
}
#navbar a img {
	width: 80%;
    display: inline-block;
	vertical-align: middle;
}
#navbar .orderIcon {
	border-bottom: solid #FF7300 4px;
    border-left: solid #FF7300 2px;
    border-radius: 0px 0px 0px 44px;
    position: absolute;
    right: 0;
    top: 0px;
    height: 58px;
    width: 62px;
}
#navbar .orderIcon i {
	position: absolute;
    top: 3px;
    right: 3px;
    color: white;
    font-size: 27px;
    background: #FF7300;
    width: 45px;
    height: 45px;
    padding-top: 9px;
	text-align: left;
    padding-left: 8px;
    border-radius: 50%;
}
#navbar a:hover,
#navbar a:active {
    text-decoration: none;
}
#navbar a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
#navbar .model-switching-button .for-selected-img {
    display: none;
}
#navbar .model-switching-button.selected .for-selected-img {
    display: inline-block;
}
#navbar .model-switching-button.selected .for-deselected-img {
    display: none;
}
@media (max-width: 400px){
	#navbar {
		text-align: center;
		padding-right: 55px;
	}
}
@media (max-width: 350px){
	#navbar a {
		width: 45px;
	}
}