#navbar {
	width: 100%;
	height: 200px;
	text-align: center;
}
#navbar a {
	display: inline-block;
	width: 200px;
	height: 180px;
	line-height: 200px;
	background-color: #ddd;
	margin: 0 3px 0 3px;
	vertical-align: top;
	text-align: center;
	padding-top: 20px;
}
#navbar a img {
	width: 80%;
	vertical-align: middle;
}
