#contact-page {
	font-size: 1.5em;
}
#contact-page img.contacts {
	height: 70px;
	margin: 20px;
	vertical-align: middle;
}
/* instagram logo animation */
#contact-page #instagramLogoContainer {
	position: relative;	
	display: inline-block;
	height: 70px;
	width: 65px;
	vertical-align: middle;
	margin: 20px;
}
#contact-page #instagramLogo, #contact-page #instagramLogoHover {
	position: absolute;
	top:0;
	left:0;
	height: 70px;
}
#contact-page #instagramLogo {
	z-index: 10;
	transition: opacity 1s ease-in-out;
}
#contact-page #instagramLogo:hover {
	opacity: 0;
}
#contact-page #instagramLogoHover {

}
