#order-page {
    text-align: center;
    background-color: #eee;
    color: #494841;
}
#order-page .inner-container {
    background-color: white;
    overflow: hidden;
}
@media (min-width: 700px) {
    #order-page .inner-container {
        display: inline-block;
        width: 650px;
        border: 1px solid rgba(128,128,128,0.4);
        border-radius: 10px;
        padding: 15px;
    }

}
@media (max-width: 699px) {
    #order-page {
        padding: 0;
    }
    #order-page .inner-container {
        padding: 0;
    }
}
/* cart */
.cart {
    display: inline-block;
}
.cart img.cart {
    height: 60px;
}
.cartSemicolon {
	font-size: 60px;
}
.cart .item {
    margin-bottom: .5em;
}
.cart .item img.glasses {
	height: 90px;
}
.cart .item .imgContainer {
	display: inline-block;
}
.cart .item .description {
	font-size: 0.9em;
}
.cart .total-price {
	color: #500025;
	font-weight: bold;
    margin-top: 1em;
}
.cart a.removeItem img {
    height: 45px;
}
/**********************************/

/* order form */
form.order input[type="text"], form.order select, form.order textarea {
    display: block;
    width: 95%;
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.3) inset;
    -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.3) inset;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.3) inset;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 300;
    border-radius: 10px;
    margin: 0;

	padding: .2em;
	font-size: 100%;
	font-family: "Roboto Slab";
	vertical-align: bottom;
    margin-bottom: .2em;

    margin-right: auto;
    margin-left: auto;
}
form.order textarea {
    height: 5em;
}
form.order input[type="text"] {
    margin-bottom: -10px;
}
form.order h1 {
    font-size: 2.5em;
    padding: .5em;
    margin: .5em;
}
form.order h2 {
    font-size: 2em;
}
.fieldName {
    text-align: left;
    margin: .2em .2em .2em  .7em;
}

.glowing-border {border:2px solid #dadada;border-radius:7px;}
.glowing-border:focus {outline: none;border-color:#9ecaed;box-shadow:0010px#9ecaed;}

.validationError {
    color: red;
}
/***************************/

/* END order form */



/* submit button style */
form.order input[type="submit"] {
    height: 2.5em;
	width: 100%;
	margin-top: 20px;
    margin-bottom: 20px;
	background: #3e9cbf; /*the colour of the button*/
	padding: 6px 10px 6px; /*apply some padding inside the button*/
	border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	/*style the text*/
	font-size:1.2em;
	font-family: "Roboto Slab";
	letter-spacing:.1em;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
	color: #fff;
	/*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
	-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
	/*give the corners a small curve*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
form.order input[type="submit"]:hover, form.order input[type="submit"]:focus {
	color:#dfe7ea;
	/*reduce the size of the shadow to give a pushed effect*/
	-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}
