/* flexSlider styles */

    /* making flexslider height = 100% - header - footer */
    .flexslider{
    display: block;
    position: relative; /* fixed or absolute may be needed */
    height: 80%!important; /* this is a fallback if calc() won't work */
    height: calc(100% - 40px - 50px)!important; /* 40px is my header height, and 50px is flex slider's footer height */
    width: 100%!important;
    }
    .flexslider .slides,
    .flexslider .slides li {
    width: 100%!important;
    height: 100%!important;
    vertical-align: middle;
    }

    /* for vertical aligned at middle images */
    .flexslider .slides li .container {
        height: 100%;
        overflow: hidden;
        vertical-align: middle;
    }
    .flexslider .slides li .container img.flex {
        vertical-align: middle;
    }
    .flexslider .slides li .container:before  {    /* create a full-height inline block pseudo-element */
        content: ' ';
        display: inline-block;
        vertical-align: middle;  /* vertical alignment of the inline element */
        height: 100%;
    }
    /* ********************************* */

    .flexslider img.height-100-percent {
        height: 100%!important;
        max-width: 10000%!important; /* over ride any existing responsive image styling */
    }
    .flexslider img.width-75-percent {
        max-width: 65%!important;
        max-height: 100%!important;
        vertical-align: middle;
        display: inline!important;
    }
    .flexslider img.peoplePhoto {
        max-width: 100%!important;
        max-height: 100%!important;
        vertical-align: middle;
        display: inline!important;
    }

/* **************** */

/* pageSlidingNavbar */
	#pageSlidingNavbar {
		position: absolute;
		display: inline-block;
		top: 150px;
		left: 20px;
		height: 500px;
		width: 80px;
		background-image: url("../../../img/pages/sunglasses/leftNavbarLineH500.png");
		background-repeat: no-repeat;
		background-position: center;
		z-index: 10;
	}
	#pageSlidingNavbar .pageSlidingButton:first-child {
		margin-top: 50px;
	}
	#pageSlidingNavbar .pageSlidingButton {
		display: inline-block;
		width: 70px;
		padding: 10px 5px 10px 5px;
		border-radius: 55px;
		margin: 0 0 25px 0;
	}
	#pageSlidingNavbar img {
		width: 70px;
	}
	#pageSlidingNavbar .current {
		background-color: rgba(0, 155, 222, .1); 
		/* background-color: rgba(0, 0, 0, .1); */
	}
/* END pageSlidingNavbar */

.pictures {
	text-align: center;	
	position: relative;
	height: 100%;
	width: 100%;
	margin-top: 40px; /* header height */
}
.pictures .modelName {
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
	
	color: white;
	background-color: #333;
	padding: 3px 6px 3px 6px;
	border-radius: 0 0 10px 0;

	font-size: 160%;
	font-family: "Roboto Slab";
	letter-spacing: 1px;
}
.pictures img {
	margin: auto;
	margin-bottom: -0.3em; /* get rid of white space after image */
}
div.flex-caption {
}
div.color {
	position: absolute;
	left: 0;
	top: 50px;
	background-color: #eee;
	color: #555;
	margin: 0;
	padding: 10px;
	border-radius: 0 10px 10px 0;

	font-size: 90%;
}
.priceAndCart {
	position: absolute;
	z-index: 100;
	top: 80px;
	right: 20px;
	width: 120px;
}
.priceAndCart .price {
  width: 90px;
	line-height: 1.5em;
	background-color: #a6000c;
	border-radius: 2px;
	padding: 10px;
	color: white;
	font-family: "Roboto Slab";
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 90%
}
.descriptionBlock .color, .descriptionBlock .model {
	padding: 8px;
}
.orderButton {
	display: inline-block;
  width: 120px;
  margin-top: 20px;
	cursor: pointer;
  font-size: .85em;
}
.orderButton img {
	width: 80px;
}
.orderButton.old:hover {
	background-color: #a6000c;
}
