/* flexSlider styles */

    /* making flexslider height = 100% - header - footer */
    .flexslider{
        display: block;
        position: relative; /* fixed or absolute may be needed */
        height: 80%!important; /* this is a fallback if calc() won't work */
        /* #header_height_used // search for this tag */
        height: calc(100% - 50px - 50px)!important; /* 60px is my header height, and 50px is flex slider's footer height */
        width: 100%!important;
    }
    .flexslider .slides,
    .flexslider .slides li {
        width: 100%!important;
        height: 100%!important;
        vertical-align: middle;
    }

    /* for vertical aligned at middle images */
    .flexslider .slides li .container {
        height: 100%;
        overflow: hidden;
        vertical-align: middle;

        /* 
         * without white-space: nowrap, images of flynn glasses
         * will jump to the second line and thus disappear from screen,
         * for some screen size proportions (in particular, for big LCD screens).
         */
        white-space: nowrap;
    }
    .flexslider .slides li .container img.flex {
        vertical-align: middle;
    }
    .flexslider .slides li .container:before  {    /* create a full-height inline block pseudo-element */
        content: '';
        display: inline-block;
        vertical-align: middle;  /* vertical alignment of the inline element */
        height: 100%;
        width: 0;
    }

    .flex-control-paging li a {
        background-color: #ff7300;
    }

    .flexslider .flex-direction-nav a {
        color: #ff7300;
    }

    /* darthvanger@gmail.com, 2016-03-13: fix for using flexslider with bootstrap:
     * for some reason arrow icons are cropped vertically by 6px without this fix
     */
    .flexslider .flex-direction-nav a {
        height: 46px;
    }
    /* ********************************* */

    .flexslider img.height-100-percent {
        height: 100%!important;
        max-width: 10000%!important; /* over ride any existing responsive image styling */
    }
    .flexslider img.width-75-percent {
        max-width: 65%!important;
        max-height: 100%!important;
        vertical-align: middle;
        display: inline!important;
    }
    .flexslider img.peoplePhoto {
        max-width: 100%!important;
        max-height: 100%!important;
        vertical-align: middle;
        display: inline!important;
    }

/* **************** */

/* pageSlidingNavbar */
	#pageSlidingNavbar {
		position: absolute;
		display: inline-block;
		top: 180px;
		left: 20px;
		height: 400px;
		width: 80px;
        /*
        background-size: auto 600px;
        */
		z-index: 10;
	}
	#pageSlidingNavbar .navbar-buttons {
		margin-top: 50px;
	}
	#pageSlidingNavbar .pageSlidingButton {
		display: inline-block;
		width: 80px;
		padding: 5px 5px 5px 5px;
		border-radius: 55px;
		margin: 0 0 25px 0;
	}
	#pageSlidingNavbar img {
		width: 70px;
	}
	#pageSlidingNavbar .current {
        /* background-color: rgba(0, 155, 222, .1); */
		/* background-color: #ff7300; */
		border: #ff7300 solid 3px;
        padding: 2px;
	}
	#pageSlidingNavbar .background-dashed-line {
        position: absolute;
        z-index: -1;
        top: 32px;
        height: calc(100% - 60px);
        width: 100%;
		background-image: url("../../../img/pages/sunglasses/leftNavbarLinePiece.png");
		background-position: center;
        background-repeat: repeat-y;
    }
    #pageSlidingNavbar .circle-icon {
        position: absolute;
        left: 25px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 4px solid #ff7300;
    }
    #pageSlidingNavbar .circle-icon .circle-icon-inner {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ff7300;
        margin: 5px; 
    }
    #pageSlidingNavbar .top-circle-icon {
        top: 0;
    }
    #pageSlidingNavbar .top-circle-icon {
        bottom: 0;
    }
/* END pageSlidingNavbar */

.pictures {
	text-align: center;	
	position: relative;
	height: 100%;
	width: 100%;
    /* #header_height_used // search for this tag */
	margin-top: 50px; /* header height */
}
.pictures .modelName {
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
	
	color: white;
	background-color: #333;
	padding: 3px 6px 3px 6px;
	border-radius: 0 0 10px 0;

	font-size: 160%;
	font-family: "Roboto Slab";
	letter-spacing: 1px;
}
.pictures img {
	margin: auto;
	margin-bottom: -0.3em; /* get rid of white space after image */
}
div.flex-caption {
}
div.color {
	position: absolute;
	left: 0;
	top: 50px;
	background-color: #eee;
	color: #555;
	margin: 0;
	padding: 10px;
	border-radius: 0 10px 10px 0;

	font-size: 90%;
}
.priceAndCart {
	position: absolute;
	z-index: 100;
	top: 60px;
	right: 20px;
	width: 120px;
}
.priceAndCart .price {
    width: 100px;
    margin: 0 auto;
	line-height: 1.5em;
	/* background-color: #a6000c; */
    background-color: #ff7300;
    background-color:white;
    border: solid #ff7300 4px;
	border-radius: 2px;
	padding: 10px;
	color: white;
	color: #ff7300;
	font-family: "Roboto Slab";
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 90%
}
.slides .product-description {
    position: absolute;
	z-index: 100;
	bottom: 20px;
	right: 20px;
}
.slides .product-description .heading {
    font-size: 0.9em;
}
.slides .product-description img.pouch {
    width: 150px;
}
.descriptionBlock .color, .descriptionBlock .model {
	padding: 8px;
}
.orderButton {
  display: block;
  width: 120px;
  margin-top: 20px;
  cursor: pointer;
  font-size: .85em;
  border-radius: 20px;
  padding-bottom: 10px;
  background-color: #ff7300;
  border: solid #ff7300 4px;
  color: white;
  transition: all 0.2s;
}
.orderButton:hover {
  color: #ff7300;
  background-color: white;
}
.orderButton .cart-icon {
    font-size: 60px;
    margin-bottom: 10px;
}
.orderButton.old:hover {
	background-color: #a6000c;
}
