
<!-- FormValidator -->
	<script type="text/javascript" src="<?=JS?>jquery/jquery-ui-effects.min.js"></script>
	<script type="text/javascript" src="<?=JS?>cart/FormValidator.js"></script>
	<script>
		$(document).ready(function() {
			FormValidator.init();
		});
	</script>
<!-- ---------------------------------------- -->
