#about-glasses h1 {
	text-align: center;
}
#about-glasses .logo {
	width: 200px;
}
#about-glasses .about-block {
	margin-bottom: 40px;
}
.alignCenter {
	text-align: center;
}
#about-glasses .about-generally p {
	text-indent: 2em;
}
