#contact-page {
	font-size: 1.5em;
}
#contact-page img.contacts {
	height: 150px;
	margin: 20px;
	vertical-align: middle;
}
#contact-page #instagramLogoContainer {
	position: relative;	
	display: inline-block;
	height: 150px;
	width: 140px;
	vertical-align: middle;
	margin: 20px;
}
#contact-page #instagramLogo, #contact-page #instagramLogoHover {
	position: absolute;
	top:0;
	left:0;
	height: 150px;
}
#contact-page #instagramLogo {
	z-index: 10;
}
