#sunglasses-page img.sunglasses {
	display: block;
	width: 100%;
}
.sunglassesImgContainer {
	position: relative;
}
/* hidden by default */
img.isInCartMark {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0.5;
}
