#sunglasses-page img.sunglasses {
	display: block;
	width: 100%;
}
.sunglassesImgContainer {
	position: relative;
}
/* hidden by default */
img.isInCartMark, img.loadingIcon {
	display: none;
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 30%;
}
.sunglasses-item {
    margin-top: 2em;
    margin-bottom: 2em;
}
.sunglasses-item .description {
    text-align: center;
}

