#sunglasses-page img.sunglasses {
	display: block;
	width: 100%;
}
.sunglassesImgContainer {
	position: relative;
}
/* hidden by default */
img.isInCartMark, img.loadingIcon {
	display: none;
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 30%;
}
