@import url("navbar.css");
@import url("cart.css");
html, body {
	width: 100%;
    min-width: 600px;
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab";
	font-size: 18px;
}

#body {
	width: 100%;
    min-width: 600px;
	position: absolute;
	top:0;
	z-index: 1;
}
div.page-body {
	margin-top: 40px; /* header height */	
}

#footer {
	border-top: 1px solid pink;
	text-align: center;
	font-size: 70%;
	line-height: 150%;
	padding-top: 5px;
}
