@import url("navbar.css");
html, body {
	width: 100%;
    min-width: 600px;
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab";
	font-size: 18px;
}

/* layout */
#cart {
	position: absolute;
	right: 0;
	top: 5px;
	height: 80px;
    line-height: 50px;
    padding-left: 10px;

	z-index: 1000;
	background-color: #fff;
	border-bottom: solid #eee 4px;
	border-left: solid #eee 2px;
	border-radius: 0px 0px 0px 60px;

	overflow: hidden;

    transition: padding-left .5s;
}
#cart:hover {
  padding-left: 120px;
}
#cart .cartContent
#cart .makeOrder-link,
#cart .makeOrder-link .makeOrder,
#cart .makeOrder-link .cartImgContainer {
  display: inline-block;
}
#cart .makeOrder-link {
  display: inline-block;
  transition: width .5s;
}
#cart .makeOrder-link:hover {
  text-decoration: none;
}
#cart .makeOrder-link .makeOrder {
  margin: 0 10px 37px -100px;
  opacity: 0;
  transition: opacity .5s, margin .5s;
  vertical-align: middle;
  text-align: center;
  color: red;
  line-height: 20px;
}
#cart:hover .makeOrder {
  opacity: 1;
}
#cartImgContainer {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 0px 0 0px;
}
#cart img.cart, #cart img.cartHover, .cart-icon-container {
	position: absolute;
	top: 10px;
	left: 0;
	height: 50px;
	vertical-align: bottom;

	cursor: pointer;
}
.cart-icon-container {
  box-sizing: border-box;
  position: relative;
  background-color: #ff7300;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-width: 3px;
  border-color: #ff7300;
  transition: all 0.5s;
}
.cart-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  color: white;
  font-size: 30px;
  transition: all 0.5s;
}
#cart:hover .cart-icon-container {
  background-color: white;
  border-color: #ff7300; 
}
#cart:hover .cart-icon {
  color: #ff7300;
}
/*
#cart img.cartHover {
	opacity: 0;
	z-index: 10;
	transition: opacity .5s;
}
#cart:hover img.cartHover {
	opacity: 1;
}
*/
#cart div#cartContent {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
  line-height: 80px;
  float: right;
}
#cart div#cartContent .imgContainer:last-child {
  margin-right: 10px;
}
/* pseudo element for vertical aligning at middle */
#cart div#cartContent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#cart div#cartContent div.imgContainer {
	display: inline-block;
  vertical-align: middle;
	position: relative;
}
#cart div#cartContent .imgContainer > img.sunglasses {
	height: 30px;
  vertical-align: middle;
}
#cart a.removeItem {
	position: absolute;
	top: 5px;
	left: 15px;
	cursor: pointer;
}
div#cartContent div.imgContainer a.removeItem {
	visibility: hidden;
}
div#cartContent div.imgContainer:hover a.removeItem {
	visibility: visible;
}


#cart a.removeItem img {
	width: 20px;
	height: 20px;
}
#cartContent div.itemCount {
	position: absolute;
	bottom: 0;
	right: 0;

	padding: 2px;
	text-align: center;
	font-size: 13px;

	width: 15px;
	height: 15px;
	border-radius: 40px;
	background-color: #eee;
}

#body {
	width: 100%;
    min-width: 600px;
	position: absolute;
	top:0;
	z-index: 1;
}
div.page-body {
	margin-top: 40px; /* header height */	
}

#footer {
	border-top: 1px solid pink;
	text-align: center;
	font-size: 70%;
	line-height: 150%;
	padding-top: 5px;
}
