#topNavbar {
	position: relative;
	z-index: 100;
	height: 40px;

	background-color: #eee;
	opacity: .8;
}
#topNavbar .loading-container {
    position: absolute;
    top: 4px;
    width: 100%;
    text-align: center;
}
#topNavbar #loading {
    text-align: center;
    display: inline-block;
    opacity: 0;
    font-size: 18px;
    background-color: yellow;
	color: #111;
	font-family: "Lobster";
	letter-spacing: 1px;
	padding: 5px 15px;
	/* margin: 0 15px 0 25px; */
	height: 26px;
}
#topNavbar #loading.visible {
    display: block;
    opacity: 1;
    z-index: 100;
}
#topNavbar #loading.hidden {
    display: none;
    opacity: 0;
}
#topLine {
	width: 100%;
	height: 4px;
	background-color: #ff7300;

	transition: background-color 1s;
}
#topNavbar:hover #topLine {
  background-color: #a6000c; 
}
#topNavbar .navbar {
  display: inline-block;
  vertical-align: top;
  text-align: left;
	/* padding: 5px 10px 5px 10px; */
	height: 36px;
  font-size: 0;
  font-size: 12px\9; /* IE6-9 only hack */
  border: none;
}
#topNavbar .navbar a {
	color: #111;
	font-family: "Lobster";
	letter-spacing: 1px;
	padding: 5px;
	margin: 0 15px 0 0;
	height: 36px;

	/* layout */
  display: inline-block;
  font-size: 18px;
  zoom: 1; /* for IE */
  *display: inline; /* for IE */

	/* animation */
	transition: background-color 1s, color .5s;
}
#topNavbar .navbar a:hover {
    text-decoration: none;
	background-color: #a6000c;
	color: white;
}
/* social like buttons */
.social-like-buttons {
    display: inline-block;
    height: 100%;
    margin: 0 0 0 30px;
}
@media screen and (max-width: 1279px) {
    .social-like-buttons {
        display: none;
    }
}
.like-button-container {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin: -2px 10px 0 0;
}
.like-button-container::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.like-button-container > * {
    display: inline-block!important;
    vertical-align: middle!important;
}
.vk-like-button-container {
    width: 50px;
    overflow: hidden;
}
#vk_like {
    margin-right: -28px;
}
