#topNavbar {
	position: relative;
	z-index: 100;
	height: 60px;

	background-color: #ff7300;
	opacity: .8;
    border-color: #ff7300;
    border-bottom-style: solid;
    border-bottom-width: 0;
    padding-bottom: 7px;

    transition: background-color 1s, padding-bottom .5s, border-bottom-width .5s;
}
#topNavbar:hover {
  background-color: white;
  padding-bottom: 0;
  border-bottom-width: 7px;
}
#topNavbar .loading-container {
    position: absolute;
    top: 4px;
    width: 100%;
    text-align: center;
}
#topNavbar #loading {
    text-align: center;
    display: inline-block;
    opacity: 0;
    font-size: 18px;
    background-color: yellow;
	color: #111;
	font-family: "Lobster";
	letter-spacing: 1px;
	padding: 10px 15px;
	/* margin: 0 15px 0 25px; */
	height: 26px;
}
#topNavbar #loading.visible {
    display: block;
    opacity: 1;
    z-index: 100;
}
#topNavbar #loading.hidden {
    display: none;
    opacity: 0;
}
#topLine {
    position: absolute;
    top: 0px;
    left: 0px;
	width: 100%;
	height: 4px;
	background-color: black;
    opacity: 1;
	transition: all .5s;
}
#topNavbar:hover #topLine {
  top: -4px;
}
#topNavbar .navbar {
  display: inline-block;
  vertical-align: top;
  text-align: left;
	/* padding: 5px 10px 5px 10px; */
	height: 36px;
  font-size: 0;
  font-size: 12px\9; /* IE6-9 only hack */
  border: none;
}
#topNavbar .navbar a {
	color: #111;
	font-family: "Lobster";
	letter-spacing: 1px;
	padding: 17px 15px 13px 15px;
	margin: 0 0px 0 0;

      display: inline-block;
      font-size: 18px;
      zoom: 1; /* for IE */
      *display: inline; /* for IE */

	/* animation */
	transition: all .5s;
}
#topNavbar:hover .navbar a {
  padding: 13px 15px 17px 15px;
}
#topNavbar .navbar a:hover {
    text-decoration: none;
	background-color: #ff7300;
    color: white;
}
