#topNavbar {
	position: relative;
	z-index: 100;
	height: 40px;

	background-color: #eee;
	opacity: .8;
}
#topLine {
	width: 100%;
	height: 4px;
	background-color: #0013ff;

	transition: background-color 1s;
}
#topNavbar:hover #topLine {
	background-color: #a6000c;
}
#topNavbar .navbar {
	display: inline-block;
  text-align: left;
	/* padding: 5px 10px 5px 10px; */
	height: 36px;
	

  font-size: 0;
  font-size: 12px\9; /* IE6-9 only hack */
}
#topNavbar .navbar a {
	color: #111;
	font-family: "Lobster";
	letter-spacing: 1px;
	padding: 5px;
	margin: 0 15px 0 0;
	height: 26px;

	/* layout */
  display: inline-block;
  font-size: 18px;
  zoom: 1; /* for IE */
  *display: inline; /* for IE */

	/* animation */
	transition: background-color 1s, color .5s;
}
#topNavbar .navbar a:hover {
	background-color: #a6000c;
	color: white;
}
