/* Copied this style from arduino.cc site */
.text p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
.text {	
	font: normal 100%/1.5 serif;
	font-family: "Roboto Slab", "Play", "TyponineSans Regular 18", "Lucida Grande", Lucida, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #4f4e4e;

	text-align: justify;
}

