/* reset button styles */
button, button:active, button:visited, input[type="submit"], input[type="submit"]:active, input[type="submit"]:visited {
	border: 0; padding: 0; background: 0; margin: 0; outline: none
} 
a {
	text-decoration: none;
	color: #3f92d2;
}
.button1 {
	font-size: 100%;
	background-color: black;
	color: white;
	font-weight: bold;
}

/* "awesome" buttons :)
 * src: http://www.smashingmagazine.com/2009/12/02/pushing-your-buttons-with-practical-css3/
 */
button.awesome, .button.awesome {
	background: #222;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
.blue.awesome {
	background-color: #2daebf;
}

.red.awesome {
	background-color: #e33100;
}

.magenta.awesome {
	background-color: #a9014b;
}

.orange.awesome {
	background-color: #ff5c00;
}

.yellow.awesome {
	background-color: #ffb515;
}
