/* reset button styles */
button, button:active, button:visited, input[type="submit"], input[type="submit"]:active, input[type="submit"]:visited {
	border: 0; padding: 0; background: 0; margin: 0; outline: none
} 
a {
	text-decoration: none;
	color: #3f92d2;
}
.button1 {
	font-size: 100%;
	background-color: black;
	color: white;
	font-weight: bold;
}
