@import url('content.css');
@import url('font.css');
@import url('text.arduinoStyle.css');
@import url('buttons.css');

.textAlignCenter {
	text-align: center;
}
.clear {
	clear: both;
}
img {text-decoration: none; border: 0px} /* ie image border fix */

