@import url('font.css');
@import url('text.arduinoStyle.css');

a {
	text-decoration: none;
	color: #3f92d2;
}

#content, .content {
	padding: 10px;
	/* line-height: 1.5em; */
}
#content h1 {
	text-align: center;
}

.textAlignCenter {
	text-align: center;
}
.clear {
	clear: both;
}
img {text-decoration: none; border: 0px} /* ie image border fix */

/* glowing border for input fields */
.glowing-border {border:2px solid #dadada;border-radius:7px;}
.glowing-border:focus {outline: none;border-color:#9ecaed;box-shadow:0010px#9ecaed;}
