@import url("navbar.css");
html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab";
	font-size: 18px;
}

/* layout */
#cart {
	position: absolute;
	right: 0;
	top: 5px;
	height: 50px;
	padding: 25px 10px 0 70px;

	z-index: 1000;
	background-color: #fff;
	border-bottom: solid #eee 4px;
	border-left: solid #eee 2px;
	border-radius: 0px 0px 0px 60px;

	overflow: hidden;

	transition: width .5s;
}
#cart:hover {
}
#cart img.cart, #cart img.cartHover {
	position: absolute;
	top: 0;
	left: 0px;
	height: 60px;
	vertical-align: bottom;

	cursor: pointer;
}
#cart img.cartHover {
	opacity: 0;
	z-index: 10;
	transition: opacity .5s;
}
#cart:hover img.cartHover {
	opacity: 1;
}
#cart div#cartContent {
	float: right;
	//margin: 23px 5px 0 0;

}
#cart div#cartContent div.imgContainer {
	display: inline-block;
	position: relative;
}
div#cartContent div.imgContainer a.removeItem {
	visibility: hidden;
}
div#cartContent div.imgContainer:hover a.removeItem {
	visibility: visible;
}
#cart div#cartContent .imgContainer > img {
	height: 30px;
}

#cart a.removeItem {
	position: absolute;
	top: 5px;
	left: 15px;

	cursor: pointer;
}

#cart a.removeItem img {
	width: 20px;
	height: 20px;
}
#cartContent div.itemCount {
	position: absolute;
	bottom: 0;
	right: 0;

	padding: 2px;
	text-align: center;
	font-size: 13px;

	width: 15px;
	height: 15px;
	border-radius: 40px;
	background-color: #eee;
}

#body {
	width: 100%;
	position: absolute;
	top:0;
	z-index: 1;
}
div.page-body {
	margin-top: 40px; /* header height */	
}

#footer {
	border-top: 1px solid pink;
	text-align: center;
	font-size: 70%;
	line-height: 150%;
	margin-top: 50px;
	padding-top: 5px;
}
